<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
                This is where we add story stuff
            </p>
            <p>
                Courtney once was at the climbing gym where she watched a clown fall off
                of a ten foot high wall. She walked up to him and said, "Abu, why are you
                climbing that wall Abu? I said 'Wow' what a stupidly high
                wall to try to climb and then fall off of". After that it was all set in 
                stone as some would say.
             
            </p>
        </div>
    </div>
</div>
